.search-box {
  background-color: #38ada9;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 15px 15px 30px rgba(10, 61, 98, 0.25);
}

.search-box__input {
  width: 950px;
  margin: 0 auto;
  outline: none;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}